* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: 0;
 
}

body {
    background: black;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    
    text-align: center;
}

.calculator {
    position: absolute;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
    background-color: #25272a;
    
}
/* this sets the position of the calculator */
.calculator{
    position: absolute;
    top: 140px;
    right: 580px;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

/* for the display on the calculator screen */
#display {
    
    height: 80px;
    width: auto;
    max-width: 310px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    font-size: 45px;
    margin-bottom: 20px;
    overflow-x: scroll;
    flex: 1;
    margin: 20px 0;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

/* for all the buttons in the calculator */
button{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    transform: scale(1.1);
}



.calculator {
    background-color: #25272a;
}

.calculator #display {
    color: #f0fcff;
}

.calculator button#clear {
    background-color: #25272a;
    color: #12e7c7;
}

.calculator button.btn-number {
    background-color: #25272a;
    color: #ffffff;
}

.calculator button.btn-operator {
    background-color: #25272a;
    color: #12e7c7;
}
  
.calculator button.btn-equal {
    background-color: #25272a;
    color: #ebf222;
}
/* footer design in the bottom */
footer {
    background-color: black;
    color: #fff;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 20px;
}

/* for the heading on the top of the page */
.head{
    color: yellow;
    background: black;
    text-align: center;
    padding-top: 20px;
    font-family:monospace;
    text-decoration: solid ;
    font-size: 40px;
 }
 